// VARIABLES
:root {
  --font-main: "Sofia Pro", sans-serif;
  --font-special: "Rift", serif;
  --font-size: 1.8rem;

  --color-primary: #00ccbc;
  --color-secondary: #e40051;
  --color-bg-dark: #182126;
  --color-bg-dark-2: #212b34;
  --color-white: #fff;
  --color-gray: #747a7d;
  --color-fb: #3b5998;
}
