.m-b-2 {
  margin-bottom: 2rem !important;
}

.m-b-3 {
  margin-bottom: 3rem !important;
}

.m-b-4 {
  margin-bottom: 4rem !important;
}

.m-b-5 {
  margin-bottom: 5rem !important;
}

.m-b-6 {
  margin-bottom: 6rem !important;
}

.m-b-7 {
  margin-bottom: 7rem !important;
}

.m-b-8 {
  margin-bottom: 8rem !important;
}

.m-b-9 {
  margin-bottom: 9rem !important;
}

.m-b-10 {
  margin-bottom: 10rem !important;
}
